h1 {
    font-family: Arial, sans-serif; /* 设置字体 */
    font-size: 32px; /* 设置字体大小 */
    font-weight: bold; /* 设置字体粗细 */
    color: #333; /* 设置字体颜色 */
}

h2 {
    font-family: Arial, sans-serif; /* 设置字体 */
    font-size: 24px; /* 设置字体大小 */
    font-weight: normal; /* 设置字体粗细 */
    color: #666; /* 设置字体颜色 */
}

.card-body {
    font-family: Arial, sans-serif; /* 设置字体 */
    font-size: 16px; /* 设置字体大小 */
    color: #333; /* 设置字体颜色 */
}

.card-title {
    font-size: 20px; /* 设置标题字体大小 */
    font-weight: bold; /* 设置标题字体粗细 */
}

.form-group label {
    font-weight: bold; /* 设置表单标签字体粗细 */
}

.form-control {
    font-size: 14px; /* 设置表单输入框字体大小 */
    font-weight: bolder;
}

.btn {
    font-size: 16px; /* 设置按钮字体大小 */
    font-weight: bold; /* 设置按钮字体粗细 */
}

#subtotal,
#shipping,
#total {
    font-family: Arial, sans-serif; /* 设置字体 */
    font-size: 20px; /* 设置字体大小 */
    color: #333; /* 设置字体颜色 */
    font-weight: bolder;
}