/*body主体*/
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0; /* 去除 body 默认的 margin，以确保宽度为100% */
}

main {
  background-color: #f4f4f4;/* 设置网页背景 */
  min-height: 100vh; /* 设置主体最小高度，确保渐变色背景充满整个页面 */
}

/*导航栏主体*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand img {
    width: 130px; /* 根据实际情况调整 Logo 图片的宽度 */
    height: auto; /* 保持宽高比，使 Logo 图片不变形 */
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 20px;
}

/* 为特定的导航项添加样式 */
nav .cart-button,
nav .sign-in-button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
}

.navbar-brand {
    padding: 0; /* 移除默认 padding */
}



/*-----------------------------导航栏结束-------------------------------------*/
/* Footer */
Footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center; /* Center items vertically */
  }
  
  .footer-section {
    flex: 1;
    margin-right: 20px;
    text-align: center;
  }
  
  h3 {
    font-size: 30px;
    font-weight: bold;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #555;
  }

/*------------Footer Responsive mobile view-------------------*/
  /* 在移动视图下进行样式调整 */
  @media only screen and (max-width: 768px) {
  /* 调整 footer 的样式 */
  footer {
    padding: 10px 0; /* 调整 padding */
  }

  .footer-container {
    flex-direction: column; /* 切换为垂直布局 */
    align-items: center; /* 在垂直方向居中对齐 */
  }

  .footer-section {
    flex: auto; /* 自动扩展高度 */
    margin: 10px 0; /* 调整上下间距 */
  }

  .footer-bottom {
    margin-top: 10px; /* 调整顶部间距 */
    padding-top: 5px; /* 调整顶部 padding */
    border-top: 1px solid #555; /* 移除顶部边框 */
  }
  }

/*-------------------------- Footer -----------------------------*/

/* BuyNow 按钮效果 */
.buyNowButton {
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 添加过渡效果 */
}

.buyNowButton:hover {
    background-color: #297fb8; /* 鼠标悬停时的背景颜色 */
    color: #ffffff;
}
/*-------------------------- 购买按键效果 -----------------------------*/


/*------------ Responsive mobile view-------------------*/
@media only screen and (max-width: 768px) {
  nav .cart-button,
  nav .sign-in-button {
    margin-top: 10px;
  }

  .purchase-section {
    display: flex;
    align-items: center; /* 垂直居中对齐 */
    justify-content: space-between; /* 在父容器内部水平居中对齐 */
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }

  .product-info {
    margin-top: 20px;
    text-align: left;
  }

  .product-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
    flex: 1; /* 拉伸 h1 元素以填充剩余空间 */
  }

  .product-image {
    margin-top: 20px;
    width: 100%; /* Adjust width */
  }

  .product-image img {
    width: 80%; /* Adjust image width */
    margin: 0 auto; /* Center image horizontally */
    display: block;
  }

  #buyNowButton {
    margin-top: 20px;
    margin-left: 0px;
  }

  .new-arrivals-section h1 {
    margin-left: 20px;
    text-align: left;
  }

  .product-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product {
    width: 45%;
  }

  footer {
    padding: 10px;
  }
  
}
