.navbar-bg-new {
    background-color: #168eb0 !important; /* 这里设置新的导航栏的背景颜色 */

}

.navbar-bg-new .nav-link {
    color: #ffffff !important; /* 设置新导航栏中的字体颜色为白色 */
}

.navbar-bg-new .nav-link:hover {
    color: #ffcc00 !important; /* 设置悬停时的字体颜色为黄色 */
}

/* 网页主体Format */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-box {
    flex: 0 0 30%;
    position: relative;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.product-img {
    max-width: 70%;
    height: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.product-details {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align:right;
    margin-right: 20px;
}

.product-name {
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 5px;
    color: #000;
    background-color:rgba(255, 204, 0, 0.5);
}
.product-box:hover .product-name {
    color: #168eb0; /* 鼠标悬停时变为蓝色 */
}

.product-price {
    font-size: large;
    font-weight: bolder;
    color: #007bff;
}


@media (max-width: 576px) {
    .product-details {
      display: none; /* 在小屏幕下隐藏产品详情 */
    }
  }
  