/* 商品展示区域的样式 */
.product-header {
    background-color: #000;
    color: #fff;
    padding: 30px 50px;
}

.product-header h2 {
    font-weight: bolder;
    font-size: 50px;
}

/* 商品展示内容区域的样式 */
.product-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
}

.product-image img {
    max-width: 100%;
    width: 150%;
    height: auto;
    margin-left: 80px;
}

.product-info {
    flex: 1;
    padding-left: 500px;
}

.product-info h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.product-info p {
    font-size: 1.3em;
    color: #555;
}

/* 2. 尺码按钮两行显示，每行三个按钮 */
/* 尺码按钮一列显示，从上至下，按钮之间有间隙 */
.product-size {
    display: flex;
    flex-direction: column;
}

.size-buttons button {
    margin-bottom: 10px; /* 控制按钮之间的间隙 */
    width: 120px; /* 设置按钮宽度 */
    height: 50px;
    border-radius: 8px; /* 设置按钮圆角半径 */
    font-weight: bolder;
    transition: background-color 0.3s ease; /* 添加过渡效果 */
}
/*加入过渡效果*/
.size-buttons button.active {
    background-color: #3498db;
    color: #fff;
}

/* 3. 价格和加入购物车水平排列 */
.product-price {
    margin-top: 30px;
}

.product-price p{
    font-weight: bolder;
    font-size: 2.0em;
    color: #000;
}

.product-price button {
    margin-left: 10px;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.product-price button:hover {
    background-color: #3498db; /* 鼠标悬停时的背景颜色 */
    color: #fff; /* 鼠标悬停时的文本颜色*/
}

.product-price button:active {
    background-color: #2980b9; /* 鼠标点击时的背景颜色*/
    color: #fff; /* 鼠标点击时的文本颜色*/
}

/* 4. Policy */
.policy-info{
    margin-top: 30px;
}

/*******************************/


/*------------ Responsive mobile view-------------------*/
@media only screen and (max-width: 768px) {
    .product-section {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
    }
  
    .product-image img {
      margin-left: 0; /* Remove left margin */
      margin-bottom: 20px; /* Add bottom margin for separation */
    }
  
    .product-info {
      padding-left: 0; /* Remove left padding */
      margin-bottom: 20px; /* Add bottom margin for separation */
    }
  
    .product-info h3 {
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    .product-info p {
      font-size: 16px;
      color: #555; /* Adjust text color */
      margin-bottom: 20px;
    }
  }
  